<form [formGroup]="form">
  <div class="date-picker-container">
    <nz-date-picker
      formControlName="date"
      (ngModelChange)="onDateChange($event)"
      [nzDisabledDate]="disableDateFn"
      [nzFormat]="'dd/MM/yyyy'"
    >
    </nz-date-picker>
  </div>

  <div *ngIf="form.get('date')?.value" class="selected-date">
    <p>Selected date: {{ form.get("date")?.value | date : "fullDate" }}</p>
  </div>

  <div class="time-picker-container">
    <button
      nz-button
      nzType="default"
      *ngFor="let time of availableTimes; let i = index"
      [class.selected]="time.selected"
      [class.disabled]="time.disabled"
      [disabled]="time.disabled"
      (click)="onTimeSelect(time, i)"
    >
      {{ time.time }}
    </button>
  </div>
</form>