.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body,
.html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.app-root {
    min-height: 100vh;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgb(254, 254, 254);
}

.sider-title {
    padding: 13.3px;
    color: black;
    text-align: center;
    line-height: 32px;
    margin: 0;
}

img {
    width: 20vh;
    height: 20vh;
}

.right-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

nz-content {
    min-height: 81.5vh;
}

nz-header {
    background: #5252af;
    padding: 0;
    text-align: center;
    overflow-y: auto;
}

nz-footer {
    text-align: center;
    background-color: #5252af;
    overflow-y: auto;
}

nz-sider {
    flex: 0 0 auto;
    background-color: #ffffff;
    overflow-y: auto;
}