.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgb(254, 254, 254);
}

.sider-title {
    padding: 13.3px;
    color: black;
    text-align: center;
    line-height: 32px;
    margin: 0;
    background: white;
}

.right-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

nz-content {
    flex: 1;
    text-align: center;
    padding: 24px;
}

nz-header {
    background: #5252af;
    padding: 0;
    text-align: center;
}

nz-footer {
    text-align: center;
    background-color: #5252af;
    margin-top: auto;
}

nz-sider {
    flex: 0 0 auto;
    background-color: #ffffff;
}