<nz-drawer
  [nzVisible]="isVisible"
  nzPlacement="bottom"
  [nzBodyStyle]="{ padding: 40 }"
  nzTitle="Introduction"
  [nzHeight]="'calc(100vh - 56px)'"
  (nzOnClose)="close()"
  [nzFooter]="footerTpl"
  [nzClosable]="false"
>
  <ng-container *nzDrawerContent>
    <nz-steps [nzCurrent]="steps">
      <nz-step nzTitle="Provides disease information"></nz-step>
      <nz-step nzTitle="Book a doctor"></nz-step>
    </nz-steps>
    <div *ngIf="steps === 0">
      <form nz-form [formGroup]="form" nzLayout="vertical">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'Please select your disease type!'">
            <div style="display: flex; align-items: center">
              <span style="margin-right: 8px">I have related diseases to</span>
              <nz-select
                formControlName="selectedType"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select the disease type"
                style="width: 200px"
              >
                <nz-option nzLabel="dermatology" nzValue="dl"></nz-option>
                <nz-option nzLabel="gastroenterology" nzValue="th"></nz-option>
                <nz-option
                  nzLabel="Ear, Nose, and Throat"
                  nzValue="tmh"
                ></nz-option>
                <nz-option nzLabel="neurology" nzValue="tk"></nz-option>
                <nz-option nzLabel="cardiology" nzValue="tm"></nz-option>
              </nz-select>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Describe your health condition</nz-form-label>
          <nz-form-control
            nzErrorTip="Comment must not exceed 500 characters"
          >
            <nz-textarea-count [nzMaxCharacterCount]="500">
              <textarea rows="4" formControlName="comment" nz-input></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </form>
      <h3>Pick a time that you could make an appointment:</h3>
      <app-time-picker (timeAndDateSelected)="onTimeAndDateChange($event)">
      </app-time-picker>
    </div>
    <div *ngIf="steps === 1">
      <div style="padding-top: 10px;" *ngIf="filteredDoctors$ | async as data">
        <div nz-row [nzGutter]="[16, 16]">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="12"
            [nzMd]="8"
            [nzLg]="6"
            [nzXl]="6"
            *ngFor="
              let doctor of data
                | slice : (currentPage - 1) * pageSize : currentPage * pageSize;
              let i = index
            "
          >
            <nz-card 
              [nzCover]="coverTemplate" 
              [nzActions]="[actionChoose]"
              class="small-card"
              [class.selected]="selectedDoctor === doctor.id"
            >
              <nz-card-meta
                [nzTitle]="'Doctor ' + doctor.name"
                [nzDescription]="doctor.specialization"
              ></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
              <img [src]="doctor.imageUrl" alt="{{ doctor.name }}"/>
            </ng-template>
            <ng-template #actionChoose>
              <button
                nz-button
                nzType="text"
                nzBlock
                (click)="selectDoctor(doctor)"
              >
                {{ selectedDoctor === doctor.id ? 'Selected' : 'Register' }}
                <span nz-icon [nzType]="selectedDoctor === doctor.id ? 'check-circle' : 'plus-circle'" nzTheme="outline"></span>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; gap: 10px; float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button *ngIf="steps != 0" nz-button nzType="default" (click)="onback()">
        Back
      </button>
      <button
        *ngIf="steps === 0"
        nz-button
        nzType="primary"
        (click)="oncontinue()"
        [disabled]="form.invalid"
      >
        Next
      </button>
      <button 
        *ngIf="steps === 1" 
        nz-button 
        nzType="primary" 
        (click)="submit()"
        [disabled]="!selectedDoctor"
      >
        Submit
      </button>
    </div>
  </ng-template>
</nz-drawer>