<nz-drawer
  [nzVisible]="(visible$ | async) === true ? true : false"
  nzPlacement="bottom"
  [nzHeight]="'calc(100vh - 56px)'"
  [nzFooter]="footerTpl"
  nzClosable="true"
  (nzOnClose)="onClose()"
>
  <ng-container *nzDrawerContent>
    <div style="display: flex; gap: 10px">
      <div style="flex: 2">
        <form [formGroup]="form" class="grid grid-cols-2 gap-4 p-4">
          <nz-form-label>Name</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <input
                nz-input
                formControlName="patientName"
                style="width: 300px"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-label>Birth Date</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker
                formControlName="birth"
                style="width: 300px"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-label>Appointment Date</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker
                formControlName="appointmentDate"
                style="width: 300px"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-label>Address</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input formControlName="address" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-label>Comment</nz-form-label>
          <nz-form-item class="col-span-2">
            <nz-form-control>
              <textarea nz-input formControlName="comment"></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <div
        style="
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin: 10px;
        "
      >
        <img
          nz-image
          width="200px"
          height="200px"
          nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
          alt=""
        />
      </div>
    </div>
  </ng-container>

  <ng-template #footerTpl>
    <div style="display: flex; gap: 10px; float: right">
      <button nz-button nzType="default" (click)="showCancelModal()">
        Cancel Appointment
      </button>
      <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>
<nz-modal
  [(nzVisible)]="isCancelModalVisible"
  nzTitle="Cancel Appointment"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="cancelForm" class="cancel-reasons-column">
      <div *ngFor="let reason of cancelReasons" class="reason-item">
        <label>
          <input
            type="checkbox"
            [formControlName]="reason.value"
            (change)="onReasonChange(reason.value, $event)"
          />
          {{ reason.label }}
        </label>
      </div>
      <div *ngIf="isOtherReasonSelected" class="other-reason">
        <textarea
          formControlName="otherReason"
          rows="3"
          placeholder="Enter other reason"
        ></textarea>
      </div>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  <button nz-button nzType="primary" [disabled]="!validateSubmitButton()" (click)="submitCancel()">Submit</button>
</ng-template>
