<div class="header">
  <div style="color: white">
    <span
      nz-tooltip
      nzTooltipTitle="This is a number of turn that you can book a doctor."
      >{{ user.turn + " turn" }}
      <span nz-icon nzType="account-book" nzTheme="twotone"></span>
    </span>
    <a nz-button nzType="text" style="margin-left: 10px" (click)="openDrawer()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </a>
  </div>
  <div class="user-info">
    <a nz-dropdown [nzDropdownMenu]="menu">
      {{ user.name }} <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <i nz-icon nzType="user" nzTheme="outline"></i>
          {{ user.name }}
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="phone" nzTheme="outline"></i>
          {{ user.phoneNumber }}
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="mail" nzTheme="outline"></i>
          {{ user.email }}
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="home" nzTheme="outline"></i>
          {{ user.address }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
<app-purchase-drawer></app-purchase-drawer>
