<div class="page-container">
  <div class="filter">
    <app-filter-doctor [selectedTag]="initial_tag"></app-filter-doctor>
  </div>
  <div *ngIf="filteredDoctors$ | async as data">
    <div nz-row [nzGutter]="[16, 16]">
      <div
        nz-col
        [nzXs]="24"
        [nzSm]="12"
        [nzMd]="8"
        [nzLg]="6"
        [nzXl]="4"
        *ngFor="
          let doctor of data
            | slice : (currentPage - 1) * 18 : currentPage * 18;
          let i = index
        "
      >
        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionChoose]">
          <nz-card-meta
            [nzTitle]="doctor.name"
            [nzDescription]="doctor.specialization"
          ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="{{ doctor.name }}" src="{{ doctor.imageUrl }}" />
        </ng-template>
        <ng-template #actionChoose>
          <button
            nz-button
            nzType="text"
            (click)="showRegistrationModal(doctor)"
            nzBlock
            [disabled]="blured$ | async"
          >
            Register
            <span nz-icon nzType="plus-circle" nzTheme="outline"> </span>
          </button>
        </ng-template>
      </div>
    </div>

    <div class="pagination">
      <nz-pagination
        [nzPageIndex]="currentPage"
        [nzTotal]="data.length"
        [nzPageSize]="18"
        (nzPageIndexChange)="pageChanged($event)"
      >
      </nz-pagination>
    </div>
  </div>
</div>
<app-doctor-modal>
</app-doctor-modal>
