.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-filter-doctor {
    text-align: center;
}

.filter {
    padding-bottom: 10px;
    width: 200px;
}

.content {
    flex: 1;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.nz-card {
    width: 100%;
}

.nz-card-meta {
    margin: 16px 0;
}

.nz-row {
    margin-bottom: 20px;
}

.ant-row {
    min-height: 80vh;
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
}