<div class="filter">
    <app-filter-doctor (filterChanged)="onFilterChanged($event)"></app-filter-doctor>
</div>

<div nz-row [nzGutter]="[16, 16]">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="4"
        *ngFor="let doctor of filteredDoctors | slice:(currentPage-1)*18:currentPage*18; let i = index">
        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionChoose]">
            <nz-card-meta [nzTitle]="doctor.name" [nzDescription]="doctor.specialization"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img alt="{{ doctor.name }}" src="{{ doctor.imageUrl }}" />
        </ng-template>
        <ng-template #actionChoose>
            <span nz-icon nzType="plus-circle" nzTheme="outline" (click)="showRegistrationModal(doctor)">Register</span>
        </ng-template>
    </div>
</div>

<div class="pagination">
    <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="filteredDoctors.length" [nzPageSize]="18"
        (nzPageIndexChange)="pageChanged($event)">
    </nz-pagination>
</div>