<form nz-form [formGroup]="validateForm" class="login-form">
  <nz-form-item>
    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
      <nz-input-group nzPrefixIcon="user">
        <input email nz-input formControlName="userName" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <div nz-col [nzSpan]="24">
        <nz-form-control>
            <nz-radio-group formControlName="role">
              <label nz-radio nzValue="bn" >Patient</label>
              <label nz-radio nzValue="bs">Doctor</label>
            </nz-radio-group>
        </nz-form-control>
    </div>
  </nz-form-item>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
    (click)="onLogin()"
  >
    Log in
  </button>
  Or
  <a routerLink="/register"> register now!</a>
</form>
