<!-- <div class="title-bar">
  <a [className]="title" class="centered-title"> title </a>
</div> -->



<!-- <nz-switch [(ngModel)]="theme">
  <span checked>Dark</span>
  <span unchecked>Light</span>
</nz-switch> -->

<!-- <div class="component">
  <ul nz-menu nzMode="inline" style="width: 240px;">
    <a>Menu</a>
    <li nz-menu-item nzSelected>Option 1</li>
    <li nz-menu-item>Option 2</li>
    <li nz-menu-item>Option 3</li>
  </ul>
</div> -->

<!-- <nz-layout>
  <nz-sider>
    <h1 class="sider-title">Hi</h1>
    <ul nz-menu>
      <li nz-menu-item nzSelected routerLink="/welcome" routerLinkActive="active">Option 1</li>
      <li nz-menu-item routerLink="/monitor" routerLinkActive="active">Option 2</li>
      <li nz-menu-item routerLink="/nopage" routerLinkActive="active">Option 3</li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>Header</nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout> -->

<router-outlet></router-outlet>