<div style="margin: 15px">
  <div class="table-title-container mb-4">
    <h2 class="text-xl font-semibold">
      Appointment History
      <nz-date-picker
        style="float: right; margin: 10px"
        nzMode="month"
        [(ngModel)]="selectedMonth"
        [nzFormat]="monthFormat"
      ></nz-date-picker>
    </h2>
  </div>

  <nz-table
    #basicTable
    [nzData]="paginatedAppointments"
    [nzPageSize]="7"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <!-- <th>Key</th> -->
        <th>Patient Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data) {
      <tr class="empty-row">
        <!-- <td>{{ data.id }}</td> -->
        <td>{{ data.patientName }}</td>
        <td>{{ data.time }}</td>
        <td>{{ formatDate(data.appointmentDate) }}</td>
        <td style="width: 100px;">
          <nz-tag
            *ngIf="getStatusConfig(data.status)"
            [nzColor]="getStatusConfig(data.status)?.color"
          >
            {{ getStatusConfig(data.status)?.label }}
          </nz-tag>
        </td>
        } @for (emptyRow of getEmptyRows(7 - basicTable.data.length); track
        emptyRow) {
      <tr class="empty-row">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      }
    </tbody>
  </nz-table>
  <div style="display: flex; justify-content: flex-end; margin-top: 10px">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzTotal]="appointments.length"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
    >
    </nz-pagination>
  </div>
</div>
